<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/gongg.css" />
  <script src="../js/v2.6.10/vue.js"></script>
</head>

<body class="flex column">
  <div class="lans flex juzhong heis">
    <div class="xia flex" style="width: 1280px; font-size: 19px;">
      <div class="mag_r baise_co" style="margin-right: 45px; height: 70px;width: 184px;"><img src="../img/图层 3.png"
          width="100%" height="100%" alt="" style=" margin-left: -25px;" /></div>
      <nav class="navbar_toto flex">
        <ul class="flex " style=" text-decoration: none; list-style: none;">
          <li><a href="one.html" style=" margin-right: 10px;">首页</a></li>
          <li style="height: 64px;">
            <div style="position: relative;"><a href="" class=""
                style=" margin-right: 30px; font-weight: bold;">平台&产品</a>
              <div style="width: 80px;position: absolute;top: 60px; background-color: #ffffff;height: 6px; left: 24px;">
              </div>
            </div>
          </li>
          <li><a href="https://www.taobao.com/" style=" margin-right: 30px;">客户案例
            </a></li>
          <li><a href="https://www.taobao.com/" style=" margin-right: 30px;">解决方案</a></li>
          <li><a href="https://www.taobao.com/" style=" margin-right: 25px;">关于我们</a></li>
        </ul>
      </nav>
      <div class="search-container" style="position: relative;margin-right: 35px;">
        <input type="text"
          style="width: 310px; height: 30px;margin-top: 18px; margin-bottom: 14px; font-size: 16px;color:#000; margin-left: 50px;text-indent: 15px;;"
          id="search-input" placeholder="搜索" /><a href=""><img src="../img/图层 6.png" alt=""
            style=" position: absolute; top: 26px; right: -50px;" /></a>
        <div id="search-results" class="search-results"></div>
      </div>
    </div>
  </div>
  <div style="width: 1280; height: 50px ; margin: auto; background-color: #f7f7f7;">
    <div>
      <nav class="breadcrumb">
        <a href="./one.html">首页</a> &gt;
        <a href="tuo.html">平台&产品</a> &gt;
        <span>产品</span>
      </nav>
    </div>
  </div>
  <div style="width: 1280px;margin: auto;" id="app">
    <div class="MainContainer">
      <div id="ContentWrapper">
        <div id="NavigationTabsContainer">
          <div class="TabItem active" id="PlatformTab" @click="showTabContent('Platform')">平台</div>
          <div class="TabItem" id="ProductTab" @click="showTabContent('Product')" style="margin-left: 60px;">产品</div>
        </div>
        <div style="border: 1px solid #eeeeee; width: 1280px; margin-bottom: 15px;"></div>
        <div id="ContentContainer" style="min-height: 615px;">
          <div class="ContentSection" id="PlatformContentSection" style="display: flex;">
              <div style="background-color: #ffffff;">
                <div class="MenuSection">
                  <h3>平台分类</h3>
                  <div class="ClickableLabel ClickableLabel_timu "
                    @click="toggleSubMenu('Platform1SubMenuSection', $event)">
                    家具行业&nbsp;&nbsp;({{getItemCount('家具行业')}}) <span class="ToggleSymbol ">∨</span>
                  </div>
                  <div class="SubMenuSection" id="Platform1SubMenuSection" style="display: none;">
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform1SubMenu1CheckMark')">
                      管理软件({{getChildrenItemCount('家具行业','管理软件')}})<span id="Platform1SubMenu1CheckMark"
                        class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform1SubMenu2CheckMark')">
                      工具软件({{getChildrenItemCount('家具行业','工具软件')}})<span id="Platform1SubMenu2CheckMark"
                        class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform1SubMenu3CheckMark')">
                      拆单软件({{getChildrenItemCount('家具行业','拆单软件')}})<span id="Platform1SubMenu3CheckMark"
                        class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform1SubMenu4CheckMark')">
                      设计软件({{getChildrenItemCount('家具行业','设计软件')}})<span id="Platform1SubMenu4CheckMark"
                        class="CheckMark">✔</span>
                    </div>
                  </div>
                  <div class="ClickableLabel ClickableLabel_timu"
                    @click="toggleSubMenu('Platform2SubMenuSection', $event)">
                    系统集成({{getItemCount('系统集成')}}) <span class="ToggleSymbol ">∨</span>
                  </div>
                  <div class="SubMenuSection" id="Platform2SubMenuSection" style="display: none;">
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform2SubMenu1CheckMark')">
                      应用方向1({{getChildrenItemCount('系统集成','应用方向1')}})<span id="Platform2SubMenu1CheckMark" class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform2SubMenu2CheckMark')">
                      应用方向2({{getChildrenItemCount('系统集成','应用方向2')}})<span id="Platform2SubMenu2CheckMark" class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform2SubMenu3CheckMark')">
                      应用方向3({{getChildrenItemCount('系统集成','应用方向3')}})<span id="Platform2SubMenu3CheckMark" class="CheckMark">✔</span>
                    </div>
                  </div>
                  <div class="ClickableLabel ClickableLabel_timu"
                    @click="toggleSubMenu('Platform3SubMenuSection', $event)">
                    项目申报({{getItemCount('项目申报')}}) <span class="ToggleSymbol">∨</span>
                  </div>
                  <div class="SubMenuSection" id="Platform3SubMenuSection" style="display: none;">
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform3SubMenu1CheckMark')">
                      管理软件({{getChildrenItemCount('项目申报','管理软件')}})<span id="Platform3SubMenu1CheckMark" class="CheckMark">✔</span>
                    </div>
                    <div class="ClickableLabel" @click="toggleCheckMark('Platform3SubMenu2CheckMark')">
                      工具软件({{getChildrenItemCount('项目申报','工具软件')}})<span id="Platform3SubMenu2CheckMark" class="CheckMark">✔</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="DisplaySection" id="PlatformDisplaySection">
                <div style=" display: flex;justify-content: space-between;">
                  <div style=" font-size: 18px;">平台列表</div>
                  <div style="font-size: 14px;">共找到&nbsp;{{getDisplayItems().length}}&nbsp;条结果&nbsp;&nbsp;&nbsp;&nbsp;1/2</div>
                </div>
                <template>
                  <div id="Platform1SubMenu1Content" class="ItemDisplay"
                    v-for="(item, index) in getDisplayItems()" :key="index">
                    <div class="box_custom">
                      <div>{{ index + 1 }}</div>
                      <div class="flex">
                        <div>
                          <img :src="item.image" alt="" style="margin: 5px 30px auto 20px;" />
                        </div>
                        <div class="jiaju_tiaozhuna_minbox">
                          <div class="jiaju_tiaozhuna">{{ item.title }}</div>
                          <p>{{ item.description }}</p>
                          <p>
                            行业: {{ item.industry }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 软件类型:
                            {{ item.softwareType }}
                          </p>
                          <span class="detail_custom" @click="showDetail(item)">
                            详情 &nbsp;>
                          </span>
                          <div class="tags_custom">
                            <span v-for="(tag, tagIndex) in item.tags" :key="tagIndex" class="tag_custom">
                              {{ tag }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          <div class="ContentSection" id="ProductContentSection" style="display: none;">
            <div style="background-color: #ffffff;">
              <div class="MenuSection">
                <h3>产品分类</h3>
                <div class="ClickableLabel ClickableLabel_timu "
                  @click="toggleSubMenu('Product1SubMenuSection', $event)">
                  家具行业&nbsp;&nbsp;({{getItemCount('家具行业')}}) <span class="ToggleSymbol ">∨</span>
                </div>
                <div class="SubMenuSection" id="Product1SubMenuSection" style="display: none;">
                  <div class="ClickableLabel" @click="toggleCheckMark('Product1SubMenu1CheckMark')">
                    管理软件({{getChildrenItemCount('家具行业','管理软件')}})<span id="Product1SubMenu1CheckMark"
                      class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product1SubMenu2CheckMark')">
                    工具软件({{getChildrenItemCount('家具行业','工具软件')}})<span id="Product1SubMenu2CheckMark"
                      class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product1SubMenu3CheckMark')">
                    拆单软件({{getChildrenItemCount('家具行业','拆单软件')}})<span id="Product1SubMenu3CheckMark"
                      class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product1SubMenu4CheckMark')">
                    设计软件({{getChildrenItemCount('家具行业','设计软件')}})<span id="Product1SubMenu4CheckMark"
                      class="CheckMark">✔</span>
                  </div>
                </div>
                <div class="ClickableLabel ClickableLabel_timu"
                  @click="toggleSubMenu('Product2SubMenuSection', $event)">
                  系统集成({{getItemCount('系统集成')}}) <span class="ToggleSymbol ">∨</span>
                </div>
                <div class="SubMenuSection" id="Product2SubMenuSection" style="display: none;">
                  <div class="ClickableLabel" @click="toggleCheckMark('Product2SubMenu1CheckMark')">
                    应用方向1({{getChildrenItemCount('系统集成','应用方向1')}})<span id="Product2SubMenu1CheckMark" class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product2SubMenu2CheckMark')">
                    应用方向2({{getChildrenItemCount('系统集成','应用方向2')}})<span id="Product2SubMenu2CheckMark" class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product2SubMenu3CheckMark')">
                    应用方向3({{getChildrenItemCount('系统集成','应用方向3')}})<span id="Product2SubMenu3CheckMark" class="CheckMark">✔</span>
                  </div>
                </div>
                <div class="ClickableLabel ClickableLabel_timu"
                  @click="toggleSubMenu('Product3SubMenuSection', $event)">
                  项目申报({{getItemCount('项目申报')}}) <span class="ToggleSymbol">∨</span>
                </div>
                <div class="SubMenuSection" id="Product3SubMenuSection" style="display: none;">
                  <div class="ClickableLabel" @click="toggleCheckMark('Product3SubMenu1CheckMark')">
                    管理软件({{getChildrenItemCount('项目申报','管理软件')}})<span id="Product3SubMenu1CheckMark" class="CheckMark">✔</span>
                  </div>
                  <div class="ClickableLabel" @click="toggleCheckMark('Product3SubMenu2CheckMark')">
                    工具软件({{getChildrenItemCount('项目申报','工具软件')}})<span id="Product3SubMenu2CheckMark" class="CheckMark">✔</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="DisplaySection" id="ProductDisplaySection">
              <div style=" display: flex;justify-content: space-between;">
                <div style=" font-size: 18px;">产品列表</div>
                <div style="font-size: 14px;">共找到&nbsp;{{getDisplayItems().length}}&nbsp;条结果&nbsp;&nbsp;&nbsp;&nbsp;1/2</div>
              </div>
              <template>
                <div id="Product1SubMenu1Content" class="ItemDisplay"
                  v-for="(item, index) in getDisplayItems()" :key="index">
                  <div class="box_custom">
                    <div>{{ index + 1 }}</div>
                    <div class="flex">
                      <div>
                        <img :src="item.image" alt="" style="margin: 5px 30px auto 20px;" />
                      </div>
                      <div class="jiaju_tiaozhuna_minbox">
                        <div class="jiaju_tiaozhuna">{{ item.title }}</div>
                        <p>{{ item.description }}</p>
                        <p>
                          行业: {{ item.industry }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 软件类型:
                          {{ item.softwareType }}
                        </p>
                        <a href="./首页.html"><span class="detail_custom">
                          详情 &nbsp;>
                        </span></a>
                        <div class="tags_custom">
                          <span v-for="(tag, tagIndex) in item.tags" :key="tagIndex" class="tag_custom">
                            {{ tag }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="foot flex" style="height: 160px;background-color: #365bb9; color: #efefef;">
    <div class="flex" style="width: 1280px;margin: auto;justify-content: space-between;">
      <div class="flex column">
        <div class="flex column" style=" margin-top: -11px;">
          <div class="flex">
            <div class="ma g_r baise_co" style=" height: 70px;width: 184px; margin-top: 20px;"><img
                src="../img/图层 3.png" width="100%" height="100%" alt="" style=" margin-left: -25px;" /></div>
            <div class="flex column">
              <div class="flex foot_zi " style="justify-content: space-between; margin-top: 40px;">
                <p>咨询:&nbsp;&nbsp;027-15245895</p>
                <p style="margin-right: 100px;">邮箱:&nbsp;&nbsp;wijhi@126.com</p>
              </div>
              <div class="foot_zi">
                <p>地址:&nbsp;&nbsp;武汉市东湖高新技术开发区高新二路与佳园路路口喜鹊巢科创园A座10楼1016</p>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 15px; margin-top: 30px;font-size: 14px;">Copyright 2019-2023 湖北优库智能技术有限公司
          www.cykzn.com 版杈所有</div>
      </div>
      <div class="flex column" style="align-self: flex-end;margin-top: 9px;">
        <img src="../img/微信截图_20241214170624.png" alt="" width="100px" height="126px" />
      </div>
    </div>
  </div>
  <script>
    var aaa = new Vue({
      el: '#app',
      data() {
        return {
          managementSoftwareNum: 0,
          toolSoftwareNum: 0,
          splitOrderSoftwareNum: 0,
          designSoftwareNum: 0,
          items: [
            {
              visible: false,
              title: "优库定制家具MES系统aaaaaaaaaaa",
              description: "用于家具制造企业进行生产管理的软件，可以帮助工厂管理内部订单、加工数据、生产计划、数据分流、生产过程等多个业务流程。",
              industry: "家具行业",
              softwareType: "管理软件",
              image: "../img/1111.png",
              tags: ["多订单揉单", "订单预警", "工厂能效画像"]
            },
            {
              visible: false,
              title: "产品管理系统aaaaa",
              description: "用于产品生命周期管理，帮助公司追踪从设计到生产的每个环节。",
              industry: "家具行业",
              softwareType: "管理软件",
              image: "../img/2222.png",
              tags: ["生产调度", "质量控制", "仓储管理"]
            },
            {
              visible: false,
              title: "优库定制家具MES系统aaaaaaaaaaa",
              description: "用于家具制造企业进行生产管理的软件，可以帮助工厂管理内部订单、加工数据、生产计划、数据分流、生产过程等多个业务流程。",
              industry: "家具行业",
              softwareType: "管理软件",
              image: "../img/1111.png",
              tags: ["多订单揉单", "订单预警", "工厂能效画像"]
            },
            {
              visible: false,
              title: "产品管理系统aaaaa",
              description: "用于产品生命周期管理，帮助公司追踪从设计到生产的每个环节。",
              industry: "家具行业",
              softwareType: "工具软件",
              image: "../img/2222.png",
              tags: ["生产调度", "质量控制", "仓储管理"]
            },
            {
              visible: false,
              title: "优库定制家具MES系统aaaaaaaaaaa",
              description: "用于家具制造企业进行生产管理的软件，可以帮助工厂管理内部订单、加工数据、生产计划、数据分流、生产过程等多个业务流程。",
              industry: "家具行业",
              softwareType: "工具软件",
              image: "../img/1111.png",
              tags: ["多订单揉单", "订单预警", "工厂能效画像"]
            },
            {
              visible: false,
              title: "产品管理系统aaaaa",
              description: "用于产品生命周期管理，帮助公司追踪从设计到生产的每个环节。",
              industry: "家具行业",
              softwareType: "拆单软件",
              image: "../img/2222.png",
              tags: ["生产调度", "质量控制", "仓储管理"]
            },
            {
              visible: false,
              title: "优库定制家具MES系统aaaaaaaaaaa",
              description: "用于家具制造企业进行生产管理的软件，可以帮助工厂管理内部订单、加工数据、生产计划、数据分流、生产过程等多个业务流程。",
              industry: "家具行业",
              softwareType: "拆单软件",
              image: "../img/1111.png",
              tags: ["多订单揉单", "订单预警", "工厂能效画像"]
            },
            {
              visible: false,
              title: "产品管理系统aaaaa",
              description: "用于产品生命周期管理，帮助公司追踪从设计到生产的每个环节。",
              industry: "家具行业",
              softwareType: "设计软件",
              image: "../img/2222.png",
              tags: ["生产调度", "质量控制", "仓储管理"]
            },
          ],
          displayItems: [],
        };
      },
      computed: {
        // visibleItemCount() {
        //   return this.managementSoftwareNum = 3;
        //   // this.managementSoftwareNum = this.items.filter(item => item.softwareType === "管理软件").length;
        //   // this.toolSoftwareNum = this.items.filter(item => item.softwareType === '工具软件').length;
        //   // this.splitOrderSoftwareNum = this.items.filter(item => item.softwareType === '拆单软件').length;
        //   // this.designSoftwareNum = this.items.filter(item => item.softwareType === '设计软件').length;
        // },
      },
      methods: {
        getItemCount(temp) {
          return this.items.filter(item => item.industry === temp).length;
        },
        getChildrenItemCount(industryTemp, softwareTypeTemp) {
          return this.items.filter(item => (item.industry === industryTemp && item.softwareType === softwareTypeTemp)).length;
        },
        getDisplayItems() {
          console.log(this.items.filter(item => item.visible));
          return this.items.filter(item => item.visible);
        },
        showDetail(item) {
          alert(`${item.title} 详情`);
        },
        showTabContent(tab) {
          document.getElementById('PlatformContentSection').style.display = tab === 'Platform' ? 'flex' : 'none';
          document.getElementById('ProductContentSection').style.display = tab === 'Product' ? 'flex' : 'none';
          const platformTab = document.getElementById('PlatformTab');
          const productTab = document.getElementById('ProductTab');
          if (tab === 'Platform') {
            platformTab.classList.add('active');
            productTab.classList.remove('active');
          } else if (tab === 'Product') {
            productTab.classList.add('active');
            platformTab.classList.remove('active');
          }
        },

        toggleSubMenu(subMenuId, event) {
          // 获取对应的子菜单
          var subMenu = document.getElementById(subMenuId);
          // 获取触发事件的 .ClickableLabel 元素
          const labelElement = event.target.closest('.ClickableLabel');

          // 获取该 .ClickableLabel 内部的 .ToggleSymbol 元素
          var toggleSymbol = labelElement.querySelector('.ToggleSymbol');
          if (subMenu.style.display === 'none') {
            subMenu.style.display = 'block';
            toggleSymbol.textContent = '∧'; // 改为向上的箭头
          } else {
            subMenu.style.display = 'none';
            toggleSymbol.textContent = '∨'; // 改为向下的箭头
          }
        },

        toggleCheckMark(checkId) {
          var checkMark = document.getElementById(checkId);
          var checkMarkParent = checkMark.parentElement;
          if (checkMark.style.display === 'none' || checkMark.style.display === '') {
            checkMark.style.display = 'inline';
            checkMarkParent.style.color = '#567feb';
          } else {
            checkMark.style.display = 'none';
            checkMarkParent.style.color = '';
          }
          // checkMark.style.display = checkMark.style.display === 'none' || checkMark.style.display === '' ?
          //   'inline' :
          //   'none';

          // 定义一个映射对象，将 checkId 映射到对应的:  行业 和 软件类型
          var contentMap = {
            'Platform1SubMenu1CheckMark': ['家具行业', '管理软件'],
            'Platform1SubMenu2CheckMark': ['家具行业', '工具软件'],
            'Platform1SubMenu3CheckMark': ['家具行业', '拆单软件'],
            'Platform1SubMenu4CheckMark': ['家具行业', '设计软件'],
            'Platform2SubMenu1CheckMark': ['系统集成', '应用方向1'],
            'Platform2SubMenu2CheckMark': ['系统集成', '应用方向2'],
            'Platform2SubMenu3CheckMark': ['系统集成', '应用方向3'],
            'Platform3SubMenu1CheckMark': ['项目申报', '管理软件'],
            'Platform3SubMenu2CheckMark': ['项目申报', '工具软件'],
            
            
            'Product1SubMenu1CheckMark': ['家具行业', '管理软件'],
            'Product1SubMenu2CheckMark': ['家具行业', '工具软件'],
            'Product1SubMenu3CheckMark': ['家具行业', '拆单软件'],
            'Product1SubMenu4CheckMark': ['家具行业', '设计软件'],
            'Product2SubMenu1CheckMark': ['系统集成', '应用方向1'],
            'Product2SubMenu2CheckMark': ['系统集成', '应用方向2'],
            'Product2SubMenu3CheckMark': ['系统集成', '应用方向3'],
            'Product3SubMenu1CheckMark': ['项目申报', '管理软件'],
            'Product3SubMenu2CheckMark': ['项目申报', '工具软件'],
          };

          var itemDivId = contentMap[checkId];
          if (itemDivId) {
            for (let index = 0; index < this.items.length; index++) {
              const element = this.items[index];
              if (element.industry === itemDivId[0] && element.softwareType === itemDivId[1]) {
                if (checkMark.style.display === 'inline') {
                  this.items[index].visible = true;
                } else {
                  this.items[index].visible = false;
                }
              }
            }

            // var itemDiv = document.getElementById(itemDivId);
            // if (checkMark.style.display === 'inline') {
            //   itemDiv.style.display = 'block'
            //   checkMarkParent.style.color = '#567feb';
            // } else {
            //   itemDiv.style.display = 'none'
            //   checkMarkParent.style.color = '';
            // }
          }

        }
      }

    });

    // 默认显示平台页签
    aaa.showTabContent('Product');
  </script>
</body>

</html>